{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link href="{% static 'profile.css' %}" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
				<a href="{% url 'home' %}"><i class="fas fa-user-circle"></i>Home</a>
				<a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		

		{% for el in auth_user %}
		<div class="features">
  			<div class="alert alert-warning">
    			<p>Skola: {{ el.skola }}</p>
    			<p>Skolenu skaits: {{ el.skolenuskaits }}</p>
    			<p>Novads: {{ el.novads}}</p>
    			<p>Apēstās porcijas: {{ el.apestasporcijas }}</p>
  			</div>
		</div>
{% endfor %}
	</body>
</html>

{% endblock %}