{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link href="{% static 'profile.css' %}" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
				<a href="{% url 'home' %}"><i class="fas fa-user-circle"></i>Home</a>
				<a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			<h2>Home Page</h2>
			
			
			<p>Welcome back, {{ user }}!</p>
		
			<div>
			<table>
					
				

					<tr>
						<p>{{ user.is_superuser }}</p>
						<p>{{ school.skola }}</p>
						<p>{{ kittcc.skola }}</p>
						<p>{{ users.skola }}</p>
						<p>{{ auth_userauth_user.skola }}</p>
						<p>{{ auth_user.skola }}</p>
						
						
						<td>Skola: {{ school.skola }}</td>
						<td></td>
					</tr>

					<tr>
						<td>Skolenu Skaits: </td>
						<td></td>
					</tr>

					<tr>
						<td>Novads: </td>
						<td></td>
					</tr>

					<tr>
						<td>Apestās porcijas:</td>
						<td> %</td>
						<td>Porciju</td>
					</tr>
					
				</table>
				
			</div>
		</div>
	</body>
</html>

{% endblock %}