{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link href="{% static 'profile.css' %}" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
				<a href="{% url 'home' %}"><i class="fas fa-user-circle"></i>Home</a>
				<a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			<h2>Home Page</h2>
			<p>Welcome back, {{ user }}!</p>
		</div>

		<div class="content">

			<table class="table table-striped">
			  <thead>
				<tr>
				  <th>Skolas ID</th>
			  <th>Skola</th>
			  <th>Skolēnu skaits</th>
			  <th>Novads</th>
			  <th>Apestās porcijas</th>
			  <th>Pirmdiena</th>
			  <th>Otrdiena</th>
			  <th>Tresdiena</th>
			  <th>Ceturdiena</th>
			  <th>Piekdiena</th>
	  
				</tr>
			  </thead>
			  <tbody>
			{% for lietot in auth_users %}  
				<tr>
				  <td>{{lietot.id}}</td>
				  <td>{{lietot.skola}}</td>
			  <td>{{lietot.skolenuskaits}}</td>
			  <td>{{lietot.novads}}</td>
			  <td>{{lietot.apestasporcijas}}</td>
			  <td>{{lietot.pirmdiena}}</td>
			  <td>{{lietot.otrdiena}}</td>
			  <td>{{lietot.tresdiena}}</td>
			  <td>{{lietot.ceturdiena}}</td>
			  <td>{{lietot.piekdiena}}</td>
				</tr>
			  {% endfor %} 
			</tbody>
		  </table>	
	</body>
</html>

{% endblock %}