{% extends 'base.html' %}
{% load static %}
{% block title %} {{ schooluser.skola }} {% endblock %}

{% block content %}
    {% if user.access == 1 and user.novads == schooluser.novads %}
    <div class="features">
        <h1>Skola: {{ schooluser.skola }}</h1>
        <h1>Skolēnu skaits: {{ schooluser.skolenuskaits }}</h1>
        <h1>Apēstās porcijas: {{ schooluser.apestasporcijas }} </h1>
        <h1>Apestās porcijas:
            {% widthratio schooluser.apestasporcijas schooluser.skolenuskaits 100 %} %
        </h1>
    </div>
            {% elif user.access == 2 %}

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                  <h2 class="h6 font-weight-bold text-center mb-4">Overall progress</h2>
          
                  <!-- Progress bar 1 -->
                  <div class="progress mx-auto" data-value='80'>
                    <span class="progress-left">
                                  <span class="progress-bar border-primary"></span>
                    </span>
                    <span class="progress-right">
                                  <span class="progress-bar border-primary"></span>
                    </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                      <div class="h2 font-weight-bold">{% widthratio schooluser.apestasporcijas schooluser.skolenuskaits 100 %}<sup class="small">%</sup></div>
                    </div>
                  </div>
                </div>
            </div>
         

            {% else %}
            <meta http-equiv="REFRESH" content="0;url=https://kittcc.net/accounts/profile/">
    {% endif %}

{% endblock %}