{% extends 'base.html' %}
{% load static %}
{% block title %} {{ schooluser.skola }} {% endblock %}

{% block content %}
    {% if user.access == 1 and user.novads == schooluser.novads %}
    <div class="features">
        <h1>{{ schooluser.skola }}</h1>
        <h1>{{ schooluser.skolenuskaits }}</h1>
        <h1>{{ schooluser.apestasporcijas }}</h1>
    </div>
            {% elif user.access == 2 %}
                <div class="features">
                    <h1>{{ schooluser.skola }}</h1>
                    <h1>{{ schooluser.skolenuskaits }}</h1>
                    <h1>{{ schooluser.apestasporcijas / (schooluser.skolenuskaits * 100) }}</h1>
                </div>

            {% else %}
            <meta http-equiv="REFRESH" content="0;url=https://kittcc.net/accounts/profile/">
    {% endif %}

{% endblock %}