{% extends 'base.html' %}
{% load static %}
{% block title %} {{ schooluser.skola }} {% endblock %}

{% block content %}
    {% if user.access == 1 or user.access == 2 %}
        {% elif user.novads == el.novads %}
    <div class="features">
        <h1>{{ schooluser.skola }}</h1>
        <h1>{{ schooluser.skolenuskaits }}</h1>
        <h1>{{ schooluser.apestasporcijas }}</h1>
    </div>
        
    {% else %}
    <meta http-equiv="REFRESH" content="0;url=https://kittcc.net/accounts/profile/">
        {% endif %}
    {% endif %}

{% endblock %}