{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}
<h1>
Home
</h1>

<form action="" method="POST">
    {% csrf_token %}
    <br>
    <input type="text" name="pirmdiena" placeholder="Pirmdiena" >
    <br>
    <input type="text" name="otrdiena" placeholder="Otrdiena" >
    <br>
    <input type="text" name="tresdiena" placeholder="Trešdiena" >
    <br>
    <input type="text" name="ceturdiena" placeholder="Ceturdiena" >
    <br>
    <input type="text" name="piekdiena" placeholder="Piekdiena" >
    <input type="submit" value="Iesniegt ēdienkarti">


</form>

{% endblock %}