{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}

<head>
  <meta charset="utf-8">
  <title>Home</title> 
  </head>

<nav class="navtop">
  <div>
    <h1>KITTCC.NET</h1>
    <a href="/accounts/profile/"><i class="fas fa-user-circle"></i>Profile</a>
    <a href="/accounts/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>
</nav>
{% if user.access == 1 %}
  {% for el in students %}
    <div class="features">
      <div class="alert alert-warning">
        <p>Skola: {{ el.skola }}</p>
        <p>Skolenu skaits: {{ el.skolenuskaits }}</p>
        <p>Novads: {{ el.novads}}</p>
        <p>Apēstās porcijas: {{ el.apestasporcijas }}</p>
      </div>
    </div>
  {% endfor %}

{% elif user.access == 2 %}
   {% for el in students %}
    <div class="features">
      <div class="alert alert-warning">
        <p>Skola: {{ el.skola }}</p>
        <p>Skolenu skaits: {{ el.skolenuskaits }}</p>
        <p>Novads: {{ el.novads}}</p>
        <p>Apēstās porcijas: {{ el.apestasporcijas }}</p>°
        <a href="{% url 'school-detail' el.id %}">ATVERT</a>
      </div>
    </div>
  {% endfor %}
{% else %}
    <p>NAV</p>
{% endif %}
{% endblock %}

















