{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}
<h1>
Home
</h1>
<center>
  <div class="content">
    <h2>Home Page</h2>
    
    
    <div>
			<table>
					
				

					<tr>
						
						<td>Skola: {{stud.skola}}</td>
						<td></td>
					</tr>

					<tr>
						<td>Skolenu Skaits: {{stud.novads}}</td>
						<td></td>
					</tr>

					<tr>
						<td>Novads: {{stud.skolenuskaits}}</td>
						<td></td>
					</tr>

					<tr>
						<td>Apestās porcijas: {{stud.apestasporcijas}}</td>
						<td> %</td>
						<td>Porciju</td>
					</tr>
					
				</table>
				
			</div>
</center>
 



{% endblock %}