{% extends 'base.html' %}
{% load static %}
{% block title %} UPDATE {% endblock %}

{% block content %}

<head>
  <meta charset="utf-8">
  <title>Home</title> 
  </head>

<nav class="navtop">
  <div>
    <h1>KITTCC.NET</h1>
    <a href="/accounts/profile/"><i class="fas fa-user-circle"></i>Profile</a>
    <a href="{% url 'logout' %}?next=/"><i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>
</nav>
<div class="features">
    <form method="POST">
        {% csrf_token %}
        {{ form.pirmdiena }}<br>
        {{ form.otrdiena }}<br>
        {{ form.tresdiena }}<br>
        {{ form.ceturdiena }}<br>
        {{ form.piekdiena }}<br>
        <button class="btn btn-success" type="submit">Atjaunināt Ēdienkarti</button>
    </form>
</div>

{% endblock %}