{% extends 'base.html' %}
{% load static %}
{% block title %} UPDATE {% endblock %}

{% block content %}

<head>
  <meta charset="utf-8">
  <title>Home</title> 
  </head>

<nav class="navtop">
  <div>
    <h1>KITTCC.NET</h1>
    <a href="/accounts/profile/"><i class="fas fa-user-circle"></i>Profile</a>
    <a href="{% url 'logout' %}?next=/"><i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>
</nav>
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <div class="justify-content-center">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              PIRMDIENA</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ form.pirmdiena }}</div>
                      </div>
                      <div class="col-auto">
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            OTRDIENA</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ form.otrdiena }}</div>
                    </div>
                    <div class="col-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          TRESDIENA</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ form.tresdiena }}</div>
                  </div>
                  <div class="col-auto">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        CETURDIENA</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ form.ceturdiena }}</div>
                </div>
                <div class="col-auto">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      PIEKTDIENA</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ form.piekdiena }}</div>
              </div>
              <div class="col-auto">
              </div>
          </div>
      </div>
  </div>
</div>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Atjaunināt Ēdienkarti</button>
    </form>
</div>


{% endblock %}