{% extends 'base.html' %}
{% load static %}
{% block title %} UPDATE {% endblock %}

{% block content %}

<head>
  <meta charset="utf-8">
  <title>Home</title> 
  </head>

<nav class="navtop">
  <div>
    <h1>KITTCC.NET</h1>
    <a href="/accounts/profile/"><i class="fas fa-user-circle"></i>Profile</a>
    <a href="{% url 'logout' %}?next=/"><i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>
</nav>
<div>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="text" placeholder="Pirmdiena" class="form-control"><br>
        <input type="text" placeholder="Otrdiena" class="form-control"><br>
        <input type="text" placeholder="Tresdiena" class="form-control"><br>
        <input type="text" placeholder="Ceturdiena" class="form-control"><br>
        <input type="text" placeholder="Piekdiena" class="form-control"><br>
        <button class="btn btn-success" type="submit">Atjaunināt Ēdienkarti</button>
    </form>
</div>

{% endblock %}